.form_container{
    display: grid;
    width: 400px;
    height: 330px;
    border-radius: 1em;
    margin: 150px auto;
    background-color: #1a1a1d;
    position: relative;
}

.header_1 {
    display: inherit;
    place-items: center;
    font-weight: 200;
    font-size: 1.6em;
    color: #c3073f;
}

.form_container form input {
    width: 300px;
    height: 40px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.form_container label {
    color: #c3073f;
    font-size: 0.8em;
    padding-left: 34px;
}

[data-tip]:before {
    content: attr(data-tooltip);
}

form input[type=text], form input[type=password] {
    background-color: #950740;
    color: white;
    border: 1px solid transparent;
    border-radius: 1em;
    padding-left: 10px;
    padding-right: 10px;
}

form input[type=submit] {
    background-color: #c3073f;
    color: white;
    border: 1px solid transparent;
    border-radius: 30px;
    width: 100px;
    height: 40px;
    transition: all .3s ease-in-out;
}

form input[type=submit]:hover {
    background-color: #950740;
}

form input[type=file]::file-selector-button {
    background-color: #c3073f;
    color: white;
    border: 2px solid #c3073f;
    padding: .2em .4em;
    border-radius: .5em;
    transition: all .3s ease-in-out;
}

form input[type=file]::file-selector-button:hover {
    background-color: #950740;
    border: 2px solid #950740;
}

form input[type=file] {
    color:#c3073f;
}

.msg {
    display: grid;
    place-items: center;
    color:aliceblue;
    padding-bottom: 30px;
}

.search_options {
    list-style-type: none;
    padding-left: 85px;
    padding-top: 10px;
}

.img {
    min-width: 200px;
    max-width: 400px;
    height: auto;
    max-height: 700px;
    display: grid;
    place-items: center;
    border: solid 1px #c3073f;
    border-radius: 1em;
}

.random_box {
    display: grid;
    place-items: center;
}

.rand_button {
    list-style-type: none;
}