.form_container{
    display: grid;
    place-items: center;
    width: 400px;
    height: 300px;
    border-radius: 1em;
    margin: 150px auto;
    background-color: #1a1a1d;
    position: relative;
}

.header_1 {
    font-weight: 200;
    font-size: 1.6em;
    color: #c3073f;
}

.form_container form input {
    width: 300px;
    height: 40px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}

form input[type=text], form input[type=password] {
    background-color: #950740;
    color: white;
    border: 1px solid transparent;
    border-radius: 1em;
    padding-left: 10px;
    padding-right: 10px;
}

form input[type=submit] {
    background-color: #c3073f;
    color: white;
    border: 1px solid transparent;
    border-radius: 30px;
    width: 80px;
    height: 40px;
    transition: all .3s ease-in-out;
}

form input[type=submit]:hover {
    background-color: #950740;
}

.msg {
    display: grid;
    place-items: center;
    color:aliceblue;
}
