{% extends "skeleton.html" %}

{% block title %}
    Create account
{% endblock %}

{% block navlinks %}
    <li><a class="navtext" href="{{url_for('index')}}">Home</a></li>
    <li><a class="navtext" href="{{url_for('search')}}">Search</a></li>
    {% if session['user_id'] %}
        <li><a class="navtext" href="{{url_for('upload')}}">Upload</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="item_container">
    {% if session['user_id'] %}
            <h1 class="header_1">You are already logged in as:</h1>
            <h1 class="header_2">{{ session["username"] }}</h1>
    {% else %}
            <h1 class="header_1">Account Information</h1>
            <form class="form" action="/create_acc" method="POST">
                <div class="msg">{{ msg }}</div>
                <label class="form_label" for="username">Username 6-20 characters<br></label>
                <input class="account_info" autofocus placeholder="Username" id="username" type="text" name="username" size="20" required><br>
                <label class="form_label" for="email">Email address must be valid<br></label>
                <input class="account_info" placeholder="Email address" id="email" type="text" name="email" required><br>
                <label class="form_label" for="password">Password 8-20 characters<br></label>
                <input class="account_info" placeholder="Password" id="password" type="password" name="password" size="20" required><br>
                <label class="form_label" for="repeat_pw">Passwords must match<br></label>
                <input class="account_info" placeholder="Repeat Password" id="repeat_pw" type="password" name="repeat_pw" class="formbox" required><br>
                <input class="submit_button" type="submit" id="button" value="Sign Up">
            </form>
    {% endif %}
    </div>
{% endblock %}
