<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <head>
        <title>sajinboard</title>
    </head>
    <body>
        <header class="header">
            <nav class="navbar">
                <ul>
                    <li><a class="navtext" href="{{url_for('index')}}">Home</a></li>
                    <li><a class="navtext" href="{{url_for('login')}}">Login</a></li>
                    <li><a class="navtext" href="{{url_for('create_acc')}}">Register</a></li>
                </ul>
            </nav>
        </header>
        <div class="register">
            <h1>Welcome to sajinboard!</h1>
        </div>
    </body>
</html>
