{% extends "skeleton.html" %} 

{% block title %}
    home
{% endblock %}

{% block navlinks %}
    <li><a class="navtext active" href="{{url_for('index')}}">Home</a></li>
    <li><a class="navtext" href="{{url_for('search')}}">Search</a></li>
    {% if session['user_id'] %}
        <li><a class="navtext" href="{{url_for('upload')}}">Upload</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="item_container">
    {% if session['user_id'] %}
            <h1 class="header_1">Welcome to sajinboard!</h1>
            <h1 class="header_2">Logged in as: {{ session["username"] }}</h1>
    {% else %}
        <h1 class="header_1">Login</h2>
        {% if msg is defined %}
            <div class= "msg">{{ msg }}</div>
        {% endif %}
        <form name="login_form" class="form" action="/login" method="POST">
            <div class="form_part">
                <label>Username</label>
                <input autofocus placeholder="Enter username" id="username" type="text" name="username">
            </div>
            <div class="form_part">
                <label>Password</label>
                <input placeholder="Enter password" id="pwd" type="password" name="pwd">
            </div>
            <input class="submit_button" type="submit" id="login-but" value="Login">
        </form>
    {% endif %}
    </div>
{% endblock %}
