{% extends "skeleton.html" %}

{% block title %}
    my uploads
{% endblock %}

{% block navlinks %}
    <li><a class="navtext" href="{{url_for('index')}}">Home</a></li>
    <li><a class="navtext" href="{{url_for('search')}}">Search</a></li>
    <li><a class="navtext" href="{{url_for('upload')}}">Upload</a></li>
{% endblock %}

{% block content %}
    <div class="item_container">
    {% if uploads is defined and uploads|length > 0 %}
       <h1 class="header_1">Click title to navigate</h1>
       <div class="list_container">
           <table class="list">
           <thead>
           <tr>
               <th>Title</th>
               <th>Subject</th>
               <th>Time</th>
               <th>Date</th>
           </tr>
           </thead>
           <tbody>
           {% for upload in uploads %}
               <tr>
                   <td><a class="edit_admin" href="{{url_for('show_image', image_id=upload[0])}}">{{ upload[2] }}</a></td>
                   <td>{{ upload[1] }}</td>
                   <td>{{ upload[3].strftime('%H:%M') }}</td>
                   <td>{{ upload[3].strftime('%d/%m/%Y') }}</td>
               </tr>
           {% endfor %}
           </tbody>
           </table>
        </div>
    {% else %}
       <h1 class="header_1">You have no uploads!</h1>
    {% endif %}
    </div>
{% endblock %}