{% extends "skeleton.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block title %}
    Browse
{% endblock %}

{% block navlinks %}
    <li><a class="navtext" href="{{url_for('index')}}">Home</a></li>
    <li><a style="text-decoration: overline;" class="navtext" href="{{url_for('random_image')}}">Random</a></li>
    {% if session['user_id'] %}
        <li><a class="navtext" href="{{url_for('upload')}}">Upload</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="form_container">
        <h1 class="header_1">{{msg}}</h1>
        <div class="random_box">
            <img src="data:image/jpeg;base64, {{image}}"
            alt="image" id="imageslot" class="img">
            <a href="{{url_for('random_image')}}"><button>Random</button></a>      
        </div>
    </div>
{% endblock %}
