<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %} - sajinboard</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <header>
            <nav>
                <ul>
                    {% block navlinks %}
                    {% endblock %}
                </ul>
            </nav>
            {% if session.user_id %}
                <ul class="navbuttons">
                    <li><a href="{{url_for('log_out')}}"><button>Log Out</button></a></li>
                </ul>
            {% else %}
                <ul class="navbuttons">
                    <li><a href="{{url_for('login')}}"><button>Sign in</button></a></li>
                    <li><a href="{{url_for('create_acc')}}"><button>Sign up</button></a></li>

                </ul>
            {% endif %}
            {% block header %}
            {% endblock %}
            </header>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>