<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %} - sajinboard</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="container">
            <header>
            <nav>
                <ul>
                    {% block navlinks %}
                    {% endblock %}
                </ul>
            </nav>
            <ul class="navbuttons">
            {% if session.user_id %}
                    <li><a href="{{url_for('my_uploads')}}"><button class="navbutton">My uploads</button></a></li>
                    <li><a href="{{url_for('log_out')}}"><button class="navbutton">Log out</button></a></li>
            {% else %}
                    <li><a href="{{url_for('login')}}"><button class="navbutton">Sign in</button></a></li>
                    <li><a href="{{url_for('create_acc')}}"><button class="navbutton">Sign up</button></a></li>
            {% endif %}
            </ul>
            {% block header %}
            {% endblock %}
            </header>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>