{% extends "skeleton.html" %}

{% block title %}
    upload
{% endblock %}

{% block navlinks %}
    <li><a class="navtext" href="{{url_for('index')}}">Home</a></li>
    <li><a class="navtext" href="{{url_for('search')}}">Search</a></li>
    {% if session['user_id'] %}
        <li><a class="navtext active" href="{{url_for('upload')}}">Upload</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="item_container">
        <h1 class=header_1>Upload image</h1>
        {% if msg is defined %}
            <div class="msg">{{ msg }}</div>
        {% endif %}
        <form name="upload" class="form" action="/send_image" method="POST" enctype="multipart/form-data">
            <div class="form_part">
                <label>Title</label>
                <input placeholder="Give a title" id="title" 
                type="text" name="title" maxlength="10" required/>
            </div>
            
            <div class="form_part">
                <label>Category</label>
                <select id="subject" name="subject" required>
                    <option value="" disabled selected>Not selected</option>
                    <option value="funny">Funny</option>
                    <option value="cats">Cats</option>
                    <option value="dogs">Dogs</option>
                    <option value="anime">Anime</option>
                    <option value="trains">Trains</option>
                    <option value="gaming">Gaming</option>
                    <option value="art">Art</option>
                    <option value="misc">Misc</option>
                </select>
            </div>
            <div class="form_part">
                <label>File jpg max 2MB</label>
                <input type="file" id="fileInput" name="fileInput" accept=".jpg, .png" required/>
                <input class="submit_button" type="submit" id="upload_button" value="Upload image"/>
            </div>
            <input type="hidden" name="csrf_token" value="{{ session["csrf_token"] }}""/>
        </form>
    </div>
{% endblock %}

