{% extends "skeleton.html" %}

{% block title %}
    Upload
{% endblock %}

{% block navlinks %}
    <li><a class="navtext" href="{{url_for('index')}}">Home</a></li>
    <li><a class="navtext" href="{{url_for('search')}}">Search</a></li>
    {% if session['user_id'] %}
        <li><a class="navtext active" href="{{url_for('upload')}}">Upload</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="item_container">
        <h1 class=header_1>Upload image</h1>
        {% if msg is defined %}
            <div class="msg">{{ msg }}</div>
        {% endif %}
        <form class="form" action="/send_image" method="POST" enctype="multipart/form-data">
            <label class="form_label" for="name">Image title must be at most 15 characters<br></label>
            <input class="account_info" placeholder="Title" id="name" type="text" name="name" size="15" required><br>
            <label class="form_label" for="subject">Select subject<br></label>
            <select class="subj_selection" id="subject" id="subject" name="subject" required>
                <option value="" disabled selected>Not selected</option>
                <option value="funny">Funny</option>
                <option value="cats">Cats</option>
                <option value="dogs">Dogs</option>
                <option value="anime">Anime</option>
                <option value="trains">Trains</option>
                <option value="gaming">Gaming</option>
                <option value="art">Art</option>
                <option value="misc">Misc</option>
            </select><br>
            <label class="form_label" for="file">File must be in .jpg format<br></label>
            <label class="form_label" for="file">Max file size is 2MB<br></label>
            <input id="file" type="file" name="file" required><br>
            <input style="width:100px;" class="submit_button" type="submit" id="upload_button" value="Upload image">
        </form>
    </div>
{% endblock %}

