{% extends "skeleton.html" %}

{% block title %}
    users
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='/js/action_check.js')}}"></script>
{% endblock %}

{% block navlinks %}
    <li><a class="navtext" href="{{url_for('index')}}">Home</a></li>
    <li><a class="navtext" href="{{url_for('search')}}">Search</a></li>
    <li><a class="navtext" href="{{url_for('upload')}}">Upload</a></li>
{% endblock %}

{% block content %}
    <div class="item_container">
    {% if users is defined and users|length > 0 %}
       <h1 class="header_1">List of registered users</h1>
       <div class="list_container">
           <table class="list">
           <thead>
           <tr>
               <th></th>
               <th>Id</th>
               <th>Username</th>
               <th>Admin</th>
               <th>Email</th>
           </tr>
           </thead>
           <tbody>
           {% for user in users %}
               <tr>
                   <td>
                        <form class="delete_form" method="POST" action="/delete_user/{{user[0]}}" onsubmit= "return deleteUser()">
                            <input class="del_user" type="submit" name="delete_user" value="&#xf2ed;">
                            <input type="hidden" name="csrf_token" value="{{session["csrf_token"]}}">
                        </form>
                    </td>
                   <td>
                       <form method="POST" action="/edit_admin_status/{{user[0]}}" onsubmit="return makeAdmin()">
                       <input type="submit" class="edit_admin" name="edit_admin" value="{{user[0]}}">
                       <input type="hidden" name="csrf_token" value="{{session["csrf_token"]}}">
                       </form>
                   </td>
                   <td>{{ user[1] }}</td>
                   <td>{{ user[2] }}</td>
                   <td>{{ user[3] }}</td>
               </tr>
           {% endfor %}
           </tbody>
           </table>
        </div>
    {% else %}
       <h1 class="header_1">No registered users</h1>
    {% endif %}
    </div>
{% endblock %}