<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sign.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <head>
        <title>sajinboard</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a class="navtext" href="{{url_for('index')}}">Home</a></li>
                </ul>
            </nav>
            <ul class="navbuttons">
                <li><a href="{{url_for('login')}}"><button>Sign In</button></a></li>
                <li><a href="{{url_for('create_acc')}}"><button>Sign Up</button></a></li>
            </ul>
        </header>
        <div style="height:430px;" class="form_container">
            <h1>Account Information</h1>
            <form action="/create_acc" method="POST">
                <div class="msg">{{ msg }}</div>
                <input placeholder="Username" id="username" type="text" name="username" size="20"><br>
                <input placeholder="Email address" id="email" type="text" name="email"><br>
                <input placeholder="Password" id="password" type="password" name="password" size="20"><br>
                <input placeholder="Repeat Password" id="repeat_pw" type="password" name="repeat_pw" class="formbox"><br>
                <input type="submit" id="button" value="Sign Up">
            </form>
        </div>
    </body>
</html>
